createdAt: "2019-08-21T03:11:30.098Z"
updatedAt: "2019-08-21T03:11:42.501Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Convert to Proper Case"
tags: [
  "Proper_Case"
]
description: "Convert to Proper Case"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub convertProperCase()
      Dim Rng As Range
      For Each Rng In Selection
      If WorksheetFunction.IsText(Rng) Then
      Rng.Value= WorksheetFunction.Proper(Rng.Value)
      End If
      Next
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
