createdAt: "2019-08-21T03:12:35.599Z"
updatedAt: "2019-08-21T03:12:55.796Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Word Count from Entire Worksheet"
tags: [
  "Word_Count"
]
description: "Word Count from Entire Worksheet"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub Word_Count_Worksheet()
      Dim WordCnt As Long
      Dim rng As Range
      Dim S As String
      Dim N As Long
      For Each rng In ActiveSheet.UsedRange.Cells
      S = Application.WorksheetFunction.Trim(rng.Text)
      N = 0
      If S <> vbNullString Then
      N = Len(S) - Len(Replace(S, " ", "")) + 1
      End If
      WordCnt = WordCnt + N
      Next rng
      MsgBox "There are total " & Format(WordCnt, "#,##0") & " words
      in the active worksheet"
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
