createdAt: "2019-08-21T03:07:16.822Z"
updatedAt: "2019-08-21T03:07:31.931Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Activate A1 Reference Style"
tags: [
  "A1_Reference_Style"
]
description: "Activate A1 Reference Style"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub ActivateA1()
      If Application.ReferenceStyle = xlR1C1 Then
      Application.ReferenceStyle = xlA1
      Else
      Application.ReferenceStyle = xlA1
      End If
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
