createdAt: "2019-08-21T02:10:03.741Z"
updatedAt: "2019-08-21T02:10:10.828Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Alternate Rows in the Selection"
tags: []
description: "Highlight Alternate Rows in the Selection"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub highlightAlternateRows()
      Dim rng As Range
      For Each rng In Selection.Rows
      If rng.RowMod 2 = 1 Then
      rng.Style= "20% -Accent1"
      rng.Value= rng^ (1 / 3)
      Else
      End If
      Next rng
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
