createdAt: "2019-08-21T03:09:50.686Z"
updatedAt: "2019-08-21T03:10:08.334Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Remove Time from Date"
tags: [
  "Remove_Time"
]
description: "Remove Time from Date"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub removeTime()
      Dim Rng As Range
      For Each Rng In Selection
      If IsDate(Rng) = True Then
      Rng.Value = VBA.Int(Rng.Value)
      End If
      Next
      Selection.NumberFormat = "dd-mmm-yy"
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
