createdAt: "2019-08-21T02:14:04.559Z"
updatedAt: "2019-08-21T02:14:22.661Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Difference in Rows"
tags: [
  "Difference_in_Rows"
]
description: "Highlight Difference in Rows"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub rowDifference()
      Range("H7:H8,I7:I8").Select
      Selection.RowDifferences(ActiveCell).Select
      Selection.Style= "Bad"
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
