createdAt: "2019-08-21T02:08:04.732Z"
updatedAt: "2019-08-21T02:08:13.933Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Named Ranges"
tags: []
description: "Highlight Named Ranges"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub HighlightRanges()
      Dim RangeName As Name
      Dim HighlightRange As Range
      On Error Resume Next
      For Each RangeName In ActiveWorkbook.Names
      Set HighlightRange = RangeName.RefersToRange
      HighlightRange.Interior.ColorIndex = 36
      Next RangeName
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
