createdAt: "2019-08-21T03:26:02.211Z"
updatedAt: "2019-08-21T03:26:22.687Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Combine Multiple Excel Files into One File"
tags: [
  "Multiple_Excel_Files_into_One"
]
description: "Combine Multiple Excel Files into One File"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub ConslidateWorkbooks()
      'Created by Sumit Bansal from https://trumpexcel.com
      Dim FolderPath As String
      Dim Filename As String
      Dim Sheet As Worksheet
      Application.ScreenUpdating = False
      FolderPath = Environ("userprofile") & "\\Desktop\\Test\\"
      Filename = Dir(FolderPath & "*.xls*")
      Do While Filename <> ""
       Workbooks.Open Filename:=FolderPath & Filename, ReadOnly:=True
       For Each Sheet In ActiveWorkbook.Sheets
       Sheet.Copy After:=ThisWorkbook.Sheets(1)
       Next Sheet
       Workbooks(Filename).Close
       Filename = Dir()
      Loop
      Application.ScreenUpdating = True
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
