createdAt: "2019-08-21T03:15:27.699Z"
updatedAt: "2019-08-21T03:15:39.591Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Calculate the Cube Root"
tags: [
  "Cube_Root"
]
description: "Calculate the Cube Root"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub getCubeRoot()
      Dim rng As Range
      Dimi As Integer
      For Each rng In Selection
      If WorksheetFunction.IsNumber(rng) Then
      rng.Value = rng ^ (1 / 3)
      Else
      End If
      Nextrng
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
