createdAt: "2019-08-21T03:08:58.397Z"
updatedAt: "2019-08-21T03:09:16.941Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Convert Date into Year"
tags: [
  "Date_into_Year"
]
description: "Convert Date into Year"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub date2year()
      Dim tempCell As Range
      Selection.Value = Selection.Value
      For Each tempCell In Selection
      If IsDate(tempCell) = True Then
      With tempCell
      .Value = Year(tempCell)
      .NumberFormat = "0"
      End With
      End If
      Next tempCell
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
