createdAt: "2019-08-21T03:04:58.036Z"
updatedAt: "2019-08-21T03:05:40.114Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Remove Characters from a String"
tags: [
  "Remove_Characters"
]
description: "Remove Characters from a String"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Public Function removeFirstC(rng As String, cnt As Long)
      removeFirstC = Right(rng, Len(rng) - cnt)
      End Function
    '''
  }
]
isStarred: false
isTrashed: false
