createdAt: "2019-08-21T02:03:10.664Z"
updatedAt: "2019-08-21T02:03:32.564Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Duplicates from Selection"
tags: [
  "Highlight_Duplicates"
]
description: "Highlight Duplicates from Selection"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub HighlightDuplicateValues()
      Dim myRange As Range
      Dim myCell As Range
      Set myRange = Selection
      For Each myCell In myRange
      If WorksheetFunction.CountIf(myRange, myCell.Value) > 1 Then
      myCell.Interior.ColorIndex = 36
      End If
      Next myCell
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
