createdAt: "2019-08-21T03:08:31.026Z"
updatedAt: "2019-08-21T03:08:44.723Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Convert Date into Day"
tags: [
  "Convert_Date"
]
description: "Convert Date into Day"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub date2day()
      Dim tempCell As Range
      Selection.Value = Selection.Value
      For Each tempCell In Selection
      If IsDate(tempCell) = True Then
      With tempCell
      .Value = Day(tempCell)
      .NumberFormat = "0"
      End With
      End If
      Next tempCell
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
