createdAt: "2019-08-21T03:10:24.855Z"
updatedAt: "2019-08-21T03:10:39.709Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Remove Date from Date and Time"
tags: [
  "Remove_Date"
]
description: "Remove Date from Date and Time"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub removeDate()
      Dim Rng As Range
      For Each Rng In Selection
      If IsDate(Rng) = True Then
      Rng.Value = Rng.Value - VBA.Fix(Rng.Value)
      End If
      NextSelection.NumberFormat = "hh:mm:ss am/pm"
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
