createdAt: "2019-08-21T02:00:15.546Z"
updatedAt: "2019-08-21T02:00:38.268Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Auto Fit Rows"
tags: [
  "Auto_Fit"
]
description: "Auto Fit Rows"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub AutoFitRows()
      Cells.Select
      Cells.EntireRow.AutoFit
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
