createdAt: "2019-08-21T02:11:26.853Z"
updatedAt: "2019-08-21T02:11:39.808Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Cells with a Specific Text in Worksheet"
tags: []
description: "Highlight Cells with a Specific Text in Worksheet"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub highlightSpecificValues()
      Dim rng As Range
      Dim i As Integer
      Dim c As Variant
      c = InputBox("Enter Value To Highlight")
      For Each rng In ActiveSheet.UsedRange
      If rng = c Then
      rng.Style = "Note"
      i = i + 1
      End If
      Next rng
      MsgBox "There are total " & i &" "& c & " in this worksheet."
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
