createdAt: "2019-08-21T03:06:23.485Z"
updatedAt: "2019-08-21T03:06:35.444Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Reverse Text"
tags: [
  "Reverse_Text"
]
description: "Reverse Text"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Public Function rvrse(ByVal cell As Range) As String
      rvrse = VBA.strReverse(cell.Value)
      End Function
    '''
  }
]
isStarred: false
isTrashed: false
