createdAt: "2019-08-21T02:01:14.063Z"
updatedAt: "2019-08-21T02:01:30.212Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Unmerge Cells"
tags: [
  "Unmerge_Cells"
]
description: "Unmerge Cells"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub UnmergeCells()
      Selection.UnMerge
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
