createdAt: "2019-08-21T03:13:34.400Z"
updatedAt: "2019-08-21T03:13:46.834Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Remove Decimals from Numbers"
tags: [
  "Remove_Decimals"
]
description: "Remove Decimals from Numbers"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub removeDecimals()
      Dim lnumber As Double
      Dim lResult As Long
      Dim rng As Range
      For Each rng In Selection
      rng.Value= Int(rng)
      rng.NumberFormat= "0"
      Next rng
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
