createdAt: "2019-08-21T03:15:49.891Z"
updatedAt: "2019-08-21T03:16:10.345Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Add A-Z Alphabets in a Range"
tags: [
  "Add_A-Z_Alphabet"
]
description: "Add A-Z Alphabets in a Range"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub addcAlphabets()
      Dim i As Integer
      For i= 65 To 90
      ActiveCell.Value= Chr(i)
      ActiveCell.Offset(1, 0).Select
      Next i
      End Sub
      Sub addsAlphabets()
      Dim i As Integer
      For i= 97 To 122
      ActiveCell.Value= Chr(i)
      ActiveCell.Offset(1, 0).Select
      Next i
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
