createdAt: "2019-08-21T02:24:46.760Z"
updatedAt: "2019-08-21T02:25:01.443Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Disable Page Breaks"
tags: [
  "Page_Breaks"
]
description: "Disable Page Breaks"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub DisablePageBreaks()
      Dim wbAs Workbook
      Dim wksAs Worksheet
      Application.ScreenUpdating= False
      For Each wbIn Application.Workbooks
      For Each ShtIn wb.WorksheetsSht.DisplayPageBreaks= False
      Next Sht
      Next wb
      Application.ScreenUpdating= True
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
