createdAt: "2019-08-21T02:12:01.961Z"
updatedAt: "2019-08-21T02:12:26.926Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Highlight Max Value In The Range"
tags: [
  "Highlight_Max_Value"
]
description: "Highlight Max Value In The Range"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub highlightMaxValue()
      Dim rng As Range
      For Each rng In Selection
      If rng = WorksheetFunction.Max(Selection) Then
      rng.Style = "Good"
      End If
      Next rng
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
