createdAt: "2019-08-21T02:18:56.772Z"
updatedAt: "2019-08-21T02:19:06.109Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Delete all but the Active Worksheet"
tags: []
description: "Delete all but the Active Worksheet"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub DeleteWorksheets()
      Dim ws As Worksheet
      For Each ws In ThisWorkbook.Worksheets
      If ws.name <> ThisWorkbook.ActiveSheet.name Then
      Application.DisplayAlerts = False
      ws.Delete
      Application.DisplayAlerts = True
      End If
      Next ws
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
