createdAt: "2019-08-21T02:25:41.313Z"
updatedAt: "2019-08-21T02:25:55.661Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Close all Workbooks at Once"
tags: [
  "Close_all"
]
description: "Close all Workbooks at Once"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub CloseAllWorkbooks()
      Dim wbs As Workbook
      For Each wbs In Workbooks
      wbs.Close SaveChanges:=True
      Next wb
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
