createdAt: "2019-08-21T03:10:48.180Z"
updatedAt: "2019-08-21T03:11:00.659Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Convert to Upper Case"
tags: [
  "Upper_Case"
]
description: "Convert to Upper Case"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub convertUpperCase()
      Dim Rng As Range
      For Each Rng In Selection
      If Application.WorksheetFunction.IsText(Rng) Then
      Rng.Value = UCase(Rng)
      End If
      Next
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
