createdAt: "2019-08-21T02:28:36.585Z"
updatedAt: "2019-08-21T02:28:52.801Z"
type: "SNIPPET_NOTE"
folder: "5291b0259dc37fb35510"
title: "Count Open Unsaved Workbooks"
tags: [
  "Unsaved_Workbooks"
]
description: "Count Open Unsaved Workbooks"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Sub VisibleWorkbooks()
      Dim book As Workbook
      Dim i As Integer
      For Each book In Workbooks
      If book.Saved = False Then
      i = i + 1
      End If
      Next book
      MsgBox i
      End Sub
    '''
  }
]
isStarred: false
isTrashed: false
